name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  main:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get release Name
        shell: python
        run: |
          import os
          ref = os.environ['GITHUB_REF']
          name = ref[ref.rfind('/') + 2:]
          with open(os.environ['GITHUB_ENV'], 'w') as env:
            print('RELEASE_NAME=' + name, file=env) 

      - name: Zip Headers
        shell: bash
        run: |
          tar -czf argum-${{ env.RELEASE_NAME }}.tar.gz \
                inc single-file LICENSE VERSION

      - name: Make release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: false
          body: ...edit me...
          files: |
            argum-${{ env.RELEASE_NAME }}.tar.gz
            single-file/argum.h
            single-file/argum-module.ixx
